# Backend/App Ports

PORT=3000
FRONTEND_PORT=8080

# Tokens

JWT_SECRET=
REFRESH_TOKEN_SECRET=

# Configuración de PostgreSQL (db)

DB_HOST=                   # Nombre del servicio de la DB en Docker Compose o localhost si se ejecuta sin Docker
DB_PORT=5432
DB_USER=ejemplo
DB_PASSWORD=nope
DB_NAME=EspaciosUniversitarios
DB_DIALECT=postgres

#Configuracion del uso del correo

EMAIL_USER=espaciosuniversitariosucv@gmail.com
EMAIL_PASS=
EMAIL_FROM="Sistema de Reservas Espacios Universitarios"

#Correos fijos para notificaciones

BomberosMail=
SeguridadMail=
mantenimientoMail=
JefeDeProtocoloMail=
COPREDMail=
