# Backend/App Ports

PORT=3000
FRONTEND_PORT=8080

# Tokens

JWT_SECRET=
REFRESH_TOKEN_SECRET=

# Configuración de PostgreSQL (db)

DB_HOST=
DB_PORT=5
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_DIALECT=

#Configuracion del uso del correo

EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=

#Correos fijos para notificaciones

BomberosMail=
SeguridadMail=
mantenimientoMail=
JefeDeProtocoloMail=
COPREDMail=
